<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>

    </style>
</head>

<body>
    <div class="container">
        <h1>About</h1>
        <ul>
            <li>
                <a></a>
            </li>
        </ul>
        <div><img src="../../static/images/about1.PNG"></div>
        <div><img src="../../static/images/about2.PNG"></div>
        <div><img src="../../static/images/about3.PNG"></div>
    </div>


</body>

</html>