<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #insertChart {
            width: 300px;
            height: 200px;
        }
    </style>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script th:src="@{/script/Static.js}"></script>
    <script th:src="@{/js/lib/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <div id="insertChart"></div>

    <div id="csv-root"></div> <!-- CSV 데이터가 표시될 위치 -->

    <script th:src="@{/script/load-csv.js}"></script>

</body>
</html>