<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추천 시스템</title>
    <link th:href='@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" th:href="@{/css/mainServiceCss/recommendationByCar.css}">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js}"></script>
    <script th:src="@{/js/lib/jquery-3.7.1.min.js}"></script>
    <script th:inline="javascript">

        var sidebarStates = {}; // 전역 변수로 사이드바 상태 관리

        document.addEventListener('DOMContentLoaded', function () {
            // Variables and category mappings
            const categoryMap = {
                'fourthfront': ['Body & Chassis'],
                'thirdfront': ['Interior', 'Electrical and Electronic'],
                'secondfront': ['General/ Small parts'],
                'front': ['e-Powertrain', 'ICE Powertrain']
            };
            const EngineParts = {
                'e-Powertrain': ['Drive Battery', 'Battery Management System', 'Traction Motor / e-Axle', 'DC-DC Converter', 'Inverter', 'Vehicle Control Unit', 'On-board Charger'],
                'ICE Powertrain': ['Main Engine Parts', 'Valve Train System', 'Fuel / Injection System', 'Intake / Exhaust System', 'Ignition System', 'Lubrication System', 'Cooling System', 'Starter / Battery System', 'Transmission / Clutch', 'Driveline'],

            };
            const InteriorParts = {
                'Electrical and Electronic': ['Milliwave and Laser Radar / LiDAR', 'On-board Camera', 'Air Conditioning / HVAC', 'Meter / Display', 'Car Navigation System / Audio / Connected', 'Security', 'Motor / Actuator', 'Switch / Connector / Harness / Other Electronics', 'ECU / Sensor(ADAS Related)', 'ECU / Sensor(Powertrain Related)', 'ECU / Sensor(Body Related)', 'ECU / Sensor(Safety Related)', 'ECU / Sensor(Chassis Related)'],
                'Interior': ['Interior', 'Seat Related Products', 'Airbag & Safety Related Products']
            };
            const BodyParts = {
                'Body & Chassis': ['Exterior', 'Lamp & Related Products', 'Brake', 'Steering', 'Suspension / Subframe', 'Wheel & Tire', 'Body / Structure / Module / Others', 'Body Components']
            };
            const GeneralParts = {
                'General/ Small parts': ['General / Small Parts']
            };

            // Sidebar and Toggle Button Management
            const toggleButtons = {
                'interiorImage': 'systemInteriorSidebar',
                'bodyimage': 'bodyFrameworkSidebar',
                'smallpartsimage': 'generalpartsSidebar',
                'engineimage': 'powerTrainSidebar'
            };

            let anySidebarFixed = false;


            document.querySelectorAll('.toggle').forEach(toggle => {
                toggle.addEventListener('click', function (e) {
                    e.preventDefault();
                    const subMenu = toggle.nextElementSibling;
                    subMenu.style.display = subMenu.style.display === 'none' ? 'block' : 'none';
                    toggle.parentNode.querySelectorAll('.submenu').forEach(s => s !== subMenu && (s.style.display = 'none'));
                    e.stopPropagation();
                });
            });
            document.querySelectorAll('.side-bar ul>li>ul>li>a.toggle').forEach(function (toggle) {
                toggle.addEventListener('click', function (e) {
                    // 다른 모든 3차 메뉴를 닫고 고정 해제
                    document.querySelectorAll('.side-bar ul ul ul').forEach(function (submenu) {
                        submenu.style.display = 'none';
                        // 가정: submenu에는 고정 상태를 나타내는 클래스 'fixed'가 있다고 가정
                        submenu.classList.remove('fixed');
                    });

                    // 현재 2차 메뉴의 자식 3차 메뉴만 열기
                    const subMenu = this.nextElementSibling;
                    subMenu.style.display = 'block';
                    subMenu.classList.add('fixed'); // 현재 3차 메뉴를 고정 상태로 설정

                    e.preventDefault();
                    e.stopPropagation();
                });
            });
            document.addEventListener('click', function () {
                document.querySelectorAll('.submenu').forEach(s => s.style.display = 'none');
            });
            Object.keys(toggleButtons).forEach(id => {
                const imageElement = document.getElementById(id);
                const sidebar = document.getElementById(toggleButtons[id]);
                sidebarStates[toggleButtons[id]] = { isOpen: false, isFixed: false };
                imageElement.addEventListener('mouseover', () => !anySidebarFixed && !sidebarStates[toggleButtons[id]].isFixed && (sidebar.style.left = '0px'));
                imageElement.addEventListener('click', () => toggleSidebarState(toggleButtons[id]));
                imageElement.addEventListener('mouseout', () => !anySidebarFixed && !sidebarStates[toggleButtons[id]].isFixed && (sidebar.style.left = '-330px'));
            });


            function updateCarPartsList() {
                const category = document.getElementById('EquipSelect').value;
                const partsSelect = document.getElementById('partsSelect');
                partsSelect.innerHTML = '<option value="">Select Part</option>';
                const parts = { ...EngineParts, ...InteriorParts, ...BodyParts, ...GeneralParts };
                if (category) {
                    partsSelect.innerHTML += parts[category].map(part => `<option value="${part}">${part}</option>`).join('');
                }
            }

            function toggleSidebarState(id) {
                const sidebar = document.getElementById(id);
                const state = sidebarStates[id];
                resetOtherSidebars(id);
                state.isFixed = !state.isFixed;
                anySidebarFixed = state.isFixed;
                sidebar.style.left = state.isFixed ? '0px' : '-330px';
            }

            function resetOtherSidebars(excludeId) {
                Object.keys(sidebarStates).forEach(key => {
                    if (key !== excludeId) {
                        const sidebar = document.getElementById(key);
                        sidebar.style.left = '-330px';
                        sidebarStates[key].isFixed = false;
                    }
                });
                anySidebarFixed = sidebarStates[excludeId].isFixed;
            }
        });
        // 2차 메뉴 항목에 클릭 이벤트 리스너 추가
        document.querySelectorAll('.side-bar ul>li>ul>li>a.toggle').forEach(function (toggle) {
            toggle.addEventListener('click', function (e) {
                // 다른 모든 3차 메뉴를 닫고 고정 해제
                document.querySelectorAll('.side-bar ul ul ul').forEach(function (submenu) {
                    submenu.style.display = 'none';
                    // 가정: submenu에는 고정 상태를 나타내는 클래스 'fixed'가 있다고 가정
                    submenu.classList.remove('fixed');
                });

                // 현재 2차 메뉴의 자식 3차 메뉴만 열기
                const subMenu = this.nextElementSibling;
                subMenu.style.display = 'block';
                subMenu.classList.add('fixed'); // 현재 3차 메뉴를 고정 상태로 설정

                e.preventDefault();
                e.stopPropagation();
            });

        });

        document.addEventListener('DOMContentLoaded', function () {
            const csvUrl = '/csv/Itemtable.csv'; // 서버에 업로드된 CSV 파일의 URL

            // CSV 파일에서 데이터를 로드하여 전역 변수에 저장
            let allItems = [];
            Papa.parse(csvUrl, {
                download: true,
                header: true,
                complete: function (results) {
                    allItems = results.data;
                }
            });


            function resetOtherSidebars(excludeId) {
                Object.keys(sidebarStates).forEach(key => {
                    if (key !== excludeId) {
                        const sidebar = document.getElementById(key);
                        sidebar.style.left = '-330px';
                        sidebarStates[key].isFixed = false;
                    }
                });
                anySidebarFixed = false;
            }
            // SUB_ID에 해당하는 항목을 표시하는 함수
            window.displayItemsByCategory = function displayItemsByCategory(subId, categoryName) {
                const productListContainer = document.querySelector('.productListContainer');
                productListContainer.style.right = '0';

                const outputDiv = document.getElementById('output');
                outputDiv.innerHTML = ''; // 기존의 목록을 지웁니다.

                const titleDiv = document.querySelector('.itemNameListTitle');
                if (titleDiv) {
                    titleDiv.textContent = 'PRODUCT LIST'; // 제목 업데이트
                    titleDiv.style.display = 'block'; // 제목 보이게
                }

                // 아이템 목록 생성 및 추가
                const itemsByCategory = allItems.filter(item => item.SUB_ID === subId);
                itemsByCategory.forEach((item, index) => {
                    const listItem = document.createElement('li');
                    listItem.classList.add('item-style'); // 스타일 클래스 추가

                    const indexSpan = document.createElement('span');
                    indexSpan.className = 'index';
                    indexSpan.textContent = `${index + 1}.`; // 번호 부분

                    const textSpan = document.createElement('span');
                    textSpan.className = 'item-text';
                    textSpan.textContent = ` ${item.Item}`; // 텍스트 부분

                    const link = document.createElement('a');
                    link.href = `search?inputKeyword=${encodeURIComponent(item.Item)}`;
                    link.textContent = item.Item;
                    link.addEventListener('click', function (event) {
                        event.preventDefault();
                        window.location.href = this.href;
                    });

                    textSpan.innerHTML = ''; // Clear previous text
                    textSpan.appendChild(link);

                    listItem.appendChild(indexSpan);
                    listItem.appendChild(textSpan);
                    outputDiv.appendChild(listItem);
                });
            };
        });
        // 모든 하위 메뉴 항목에 접근
        const submenuItems = document.querySelectorAll('.submenu li a');

        // 각 항목에 아이콘 추가
        submenuItems.forEach(item => {
            const icon = document.createElement('i');
            icon.className = 'bx bxs-chevrons-right arrow';
            item.prepend(icon);  // 아이콘을 링크 텍스트 앞에 추가

        });
        // 사이드바 닫기 함수
        function closeSidebar() {
            const productListContainer = document.querySelector('.productListContainer');
            if (productListContainer.style.right === '0px') {
                productListContainer.style.right = '-330px';
            }
        }

        // 페이지의 아무 곳이나 클릭할 때 사이드바 닫기
        document.addEventListener('click', function (event) {
            // 사이드바나 사이드바를 여는 버튼이 아닌 곳을 클릭했는지 확인
            if (!event.target.matches('.side-bar, .side-bar *, .search-button')) {
                closeSidebar();
            }
        });

        // Search 버튼에 클래스 추가 (쉽게 선택하기 위함)
        document.querySelectorAll('.side-bar ul ul ul li button').forEach(function (button) {
            button.classList.add('search-button');
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <aside class="side-bar" id="powerTrainSidebar">
                    <ul class="menu">
                        <li><a href="#none" class="toggle">Powertrain<i class='bx bxs-chevrons-right arrow'></i></a>
                            <ul class="submenu">
                                <li><a href="#none" class="toggle">e-Powertrain<i
                                            class='bx bxs-chevrons-right arrow'></i></a>
                                    <ul class="submenu" id="3rdmenu">
                                        <li><a href="#none">Drive Battery <button
                                                    onclick="displayItemsByCategory('1')">Search</button></a></li>
                                        <li><a href="#none">Battery Management System <button
                                                    onclick="displayItemsByCategory('2')">Search</button></a></li>
                                        <li><a href="#none">Traction Motor / e-Axle <button
                                                    onclick="displayItemsByCategory('3')">Search</button></a></li>
                                        <li><a href="#none">DC-DC Converter <button
                                                    onclick="displayItemsByCategory('4')">Search</button></a></li>
                                        <li><a href="#none">Inverter <button
                                                    onclick="displayItemsByCategory('5')">Search</button></a>
                                        </li>
                                        <li><a href="#none">Vehicle Control Unit <button
                                                    onclick="displayItemsByCategory('6')">Search</button></a></li>
                                        <li><a href="#none">On-board Charger <button
                                                    onclick="displayItemsByCategory('7')">Search</button></a></li>
                                    </ul>
                                </li>
                                <li><a href="#none" class="toggle">ICE Powertrain<i
                                            class='bx bxs-chevrons-right arrow'></i></a>
                                    <ul class="submenu" id="3rdmenu">
                                        <li><a href="#none">Main Engine Parts <button
                                                    onclick="displayItemsByCategory('8')">Search</button></a></li>
                                        <li><a href="#none">Valve Train System <button
                                                    onclick="displayItemsByCategory('9')">Search</button></a></li>
                                        <li><a href="#none">Fuel / Injection System <button
                                                    onclick="displayItemsByCategory('10')">Search</button></a></li>
                                        <li><a href="#none">Intake / Exhaust System <button
                                                    onclick="displayItemsByCategory('11')">Search</button></a></li>
                                        <li><a href="#none">Ignition System <button
                                                    onclick="displayItemsByCategory('12')">Search</button></a></li>
                                        <li><a href="#none">Lubrication System <button
                                                    onclick="displayItemsByCategory('13')">Search</button></a></li>
                                        <li><a href="#none">Cooling System <button
                                                    onclick="displayItemsByCategory('14')">Search</button></a></li>
                                        <li><a href="#none">Starter / Battery System <button
                                                    onclick="displayItemsByCategory('15')">Search</button></a></li>
                                        <li><a href="#none">Transmission / Clutch <button
                                                    onclick="displayItemsByCategory('16')">Search</button></a></li>
                                        <li><a href="#none">Driveline <button
                                                    onclick="displayItemsByCategory('17')">Search</button></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>

                <!-- system , 인테리어 사이드바-->
                <aside class="side-bar" id="systemInteriorSidebar">
                    <ul class="menu">
                        <li><a href="#none" class="toggle">System & Interior<i
                                    class='bx bxs-chevrons-right arrow'></i></a>
                            <ul class="submenu">
                                <li><a href="#none" class="toggle">Electrical and Electronic<i
                                            class='bx bxs-chevrons-right arrow'></i></a>
                                    <ul class="submenu" id="3rdmenu">
                                        <li><a href="#none">Milliwave and Laser Radar / LiDAR <button
                                                    onclick="displayItemsByCategory('18')">Search</button></a></li>
                                        <li><a href="#none">On-board Camera <button
                                                    onclick="displayItemsByCategory('19')">Search</button></a></li>
                                        <li><a href="#none">Air Conditioning / HVAC <button
                                                    onclick="displayItemsByCategory('20')">Search</button></a></li>
                                        <li><a href="#none">Meter / Display <button
                                                    onclick="displayItemsByCategory('21')">Search</button></a></li>
                                        <li><a href="#none">Car Navigation System / Audio / Connected <button
                                                    onclick="displayItemsByCategory('22')">Search</button></a></li>
                                        <li><a href="#none">Security <button
                                                    onclick="displayItemsByCategory('23')">Search</button></a>
                                        </li>
                                        <li><a href="#none">Motor / Actuator <button
                                                    onclick="displayItemsByCategory('24')">Search</button></a></li>
                                        <li><a href="#none">Switch / Connector / Harness / Other Electronics <button
                                                    onclick="displayItemsByCategory('25')">Search</button></a></li>
                                        <li><a href="#none">ECU / Sensor(ADAS Related) <button
                                                    onclick="displayItemsByCategory('26')">Search</button></a></li>
                                        <li><a href="#none">ECU / Sensor(Powertrain Related) <button
                                                    onclick="displayItemsByCategory('27')">Search</button></a></li>
                                        <li><a href="#none">ECU / Sensor(Body Related) <button
                                                    onclick="displayItemsByCategory('28')">Search</button></a></li>
                                        <li><a href="#none">ECU / Sensor(Safety Related) <button
                                                    onclick="displayItemsByCategory('29')">Search</button></a></li>
                                        <li><a href="#none">ECU / Sensor(Chassis Related) <button
                                                    onclick="displayItemsByCategory('30')">Search</button></a></li>
                                    </ul>
                                </li>
                                <li><a href="#none" class="toggle">Interior<i
                                            class='bx bxs-chevrons-right arrow'></i></a>
                                    <ul class="submenu">
                                        <li><a href="#none">Interior <button
                                                    onclick="displayItemsByCategory('31')">Search</button></a>
                                        </li>
                                        <li><a href="#none">Seat Related Products <button
                                                    onclick="displayItemsByCategory('32')">Search</button></a></li>
                                        <li><a href="#none">Airbag & Safety Related Products <button
                                                    onclick="displayItemsByCategory('33')">Search</button></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>

                <!-- 바디 사이드바-->
                <aside class="side-bar" id="bodyFrameworkSidebar">
                    <ul class="menu">
                        <li><a href="#none" class="toggle">Body & Framework<i
                                    class='bx bxs-chevrons-right arrow'></i></a>
                            <ul class="submenu">
                                <li><a href="#none" class="toggle">Exterior<i
                                            class='bx bxs-chevrons-right arrow'></i></a>
                                    <ul class="submenu">
                                        <li><a href="#none">Exterior <button
                                                    onclick="displayItemsByCategory('34')">Search</button></a>
                                        </li>
                                        <li><a href="#none">Lamp & Related Products <button
                                                    onclick="displayItemsByCategory('35')">Search</button></a></li>
                                    </ul>
                                </li>
                                <li><a href="#none" class="toggle">Body & Chassis<i
                                            class='bx bxs-chevrons-right arrow'></i></a>
                                    <ul class="submenu">
                                        <li><a href="#none">Brake <button
                                                    onclick="displayItemsByCategory('36')">Search</button></a>
                                        </li>
                                        <li><a href="#none">Steering <button
                                                    onclick="displayItemsByCategory('37')">Search</button></a>
                                        </li>
                                        <li><a href="#none">Suspension / Subframe <button
                                                    onclick="displayItemsByCategory('38')">Search</button></a></li>
                                        <li><a href="#none">Wheel & Tire <button
                                                    onclick="displayItemsByCategory('39')">Search</button></a></li>
                                        <li><a href="#none">Body / Structure / Module / Others <button
                                                    onclick="displayItemsByCategory('40')">Search</button></a></li>
                                        <li><a href="#none">Body Components <button
                                                    onclick="displayItemsByCategory('41')">Search</button></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>

                <!--general 사이드바-->
                <aside class="side-bar" id="generalpartsSidebar">
                    <ul class=" menu">
                        <li><a href="#none" class="toggle">General Parts<i class='bx bxs-chevrons-right arrow'></i></a>
                            <ul class="submenu">
                                <li><a href="#none" class="toggle">General Parts<i
                                            class='bx bxs-chevrons-right arrow'></i></a>
                                    <ul class="submenu">
                                        <li><a href="#none">General / Small Parts <button
                                                    onclick="displayItemsByCategory('42')">Search</button></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="col">
                <div class="box">
                    <div class="back"><img th:src="@{/images/KakaoTalk_20240418_111511662.jpg}" alt="Car Image"
                            usemap="#carimage" coords="163,344,480,545" style="width:210%;"></div>
                    <div class="fourthfront"><img th:src="@{/images/body.png}" alt="Toggle Body Sidebar"
                            class="bodyImage" style="width:210%;" id="bodyimage"></div>
                    <div class="thirdfront"><img th:src="@{/images/interier.png}" alt="Toggle Interior Sidebar"
                            class="interiorImage" style="width:210%;" id="interiorImage"></div>
                    <div class="secondfront"><img th:src="@{/images/smallparts.png}" alt="Toggle Parts Sidebar"
                            class="smallpartsImage" style="width:100%;" id="smallpartsimage"></div>
                    <div class="front"><img th:src="@{/images/pwtrain2.png}" alt="Toggle Engine Sidebar"
                            class="EngineImage" style="width:210%;" id="engineimage"></div>
                </div>
            </div>
        </div>


        <div class="col3">
            <div class="productListContainer">
                <div class="itemNameListTitle">PRODUCT LIST</div>
                <ul class="itemNameList" id="output">
                    <!-- 여기에 JavaScript를 통해 동적으로 리스트가 생성될 것입니다 -->
                </ul>
            </div>
        </div>

    </div>


</body>

</html>